<?xml version="1.0"?> 
<DATABASE> 
  <LANGUAGE>en</LANGUAGE> 
 
  <TIME_ZONE>+08:00</TIME_ZONE> 
  
  <KEY></KEY> 
 
  <INSTALL_TYPE>1</INSTALL_TYPE> 
 
  <INSTALL_PATH>{{dm7_dmdbms_path}}</INSTALL_PATH> 
 
  <INIT_DB>Y</INIT_DB> 
  <DB_PARAMS> 
    <PATH>{{dm7_dmdbms_path}}/data</PATH> 
 
    <DB_NAME>DAMENG</DB_NAME> 
 
    <INSTANCE_NAME>DMSERVER</INSTANCE_NAME> 
 
    <PORT_NUM>5236</PORT_NUM> 
 
    <CTL_PATHS> 
      <CTL_PATH>
      </CTL_PATH> 
    </CTL_PATHS> 
  
    <LOG_PATHS> 
      <LOG_PATH> 
      </LOG_PATH> 
    </LOG_PATHS>     
    <EXTENT_SIZE>16</EXTENT_SIZE> 
 
    <PAGE_SIZE>8</PAGE_SIZE> 
 
    <LOG_SIZE>512</LOG_SIZE> 
  
    <CASE_SENSITIVE>N</CASE_SENSITIVE>
 
    <CHARSET>1</CHARSET>
  
    <LENGTH_IN_CHAR>0</LENGTH_IN_CHAR> 
       
    <USE_NEW_HASH>1</USE_NEW_HASH> 
  
    <SYSDBA_PWD>{{dm_connection_password}}</SYSDBA_PWD>
 
    <SYSAUDITOR_PWD>SYSAUDITOR</SYSAUDITOR_PWD> 
 
    <SYSSSO_PWD></SYSSSO_PWD> 
 
    <SYSDBO_PWD></SYSDBO_PWD> 
  
    <TIME_ZONE>+08:00</TIME_ZONE> 
  
    <PAGE_CHECK>0</PAGE_CHECK>  
    <EXTERNAL_CIPHER_NAME></EXTERNAL_CIPHER_NAME> 
 
    <EXTERNAL_HASH_NAME></EXTERNAL_HASH_NAME> 
 
    <EXTERNAL_CRYPTO_NAME></EXTERNAL_CRYPTO_NAME> 
 
    <SVR_KEY></SVR_KEY> 
  
    <DB_KEY></DB_KEY> 
 
    <ENCRYPT_PWD></ENCRYPT_PWD> 
 
    <ENCRYPT_NAME></ENCRYPT_NAME> 
    <RLOG_ENC_FLAG>N</RLOG_ENC_FLAG> 
    <USBKEY_PIN></USBKEY_PIN> 
    <BLANK_PAD_MODE>0</BLANK_PAD_MODE> 
 
    <SYSTEM_MIRROR_PATH></SYSTEM_MIRROR_PATH> 
 
    <MAIN_MIRROR_PATH></MAIN_MIRROR_PATH> 
 
    <ROLL_MIRROR_PATH></ROLL_MIRROR_PATH> 
 
  </DB_PARAMS>
  
  <CREATE_DB_SERVICE>Y</CREATE_DB_SERVICE> 
 
  <STARTUP_DB_SERVICE>Y</STARTUP_DB_SERVICE> 
  
</DATABASE>              
