#!/bin/bash

rm -rf /home/dfs
rm -rf /usr/share/cmf /var/lib/cloudera* /var/cache/yum/cloudera* /var/log/cloudera* /var/run/cloudera* /etc/alternatives/yarn*
rm -rf /var/lib/cloudera-scm-server-db /etc/alternatives/sentry* /etc/alternatives/solr*
rm -rf /tmp/.scm_prepare_node.lock /tmp/hsperfdata_hadoop /tmp/hsperfdata_hdfs  /tmp/hsperfdata_mapred /tmp/hsperfdata_zookeeper /tmp/hsperfdata_cloudera-scm  /tmp/hadoop-root
rm -rf /var/lib/flume-ng /var/lib/hadoop* /var/lib/hue /var/lib/navigator /var/lib/oozie /var/lib/solr /var/lib/sqoop* /var/lib/zookeeper
rm -rf /dfs /mapred /yarn /etc/alternatives/avro* /etc/alternatives/beeline*
rm -rf  /etc/cloudera* /etc/alternatives/bigtop* /etc/alternatives/catalogd* /etc/alternatives/cli_* /etc/alternatives/hue* /etc/alternatives/sqoop*
rm -rf  /var/cache/yum/x86_64/6/cloudera* /etc/alternatives/llama* /etc/alternatives/*spark* /etc/alternatives/pig* /etc/alternatives/mahout*
rm -rf /var/lib/hadoop-* /var/lib/impala /var/lib/solr /var/lib/zookeeper /var/lib/hue /var/lib/oozie /var/lib/pgsql /etc/alternatives/impala*
rm -rf /var/lib/sqoop2  /data/dfs/  /data/impala/ /data/yarn/  /dfs/ /impala/ /yarn/ /etc/alternatives/oozie* /etc/alternatives/mapred* /etc/alternatives/mahout*
rm -rf /var/run/hadoop-*/ /var/run/hdfs-*/ /usr/bin/hadoop* /usr/bin/zookeeper* /usr/bin/hbase* /etc/alternatives/hadoop* /etc/alternatives/hbase*
rm -rf /usr/bin/hive* /usr/bin/hdfs /usr/bin/mapred /usr/bin/yarn /usr/bin/sqoop* /usr/bin/oozie /etc/alternatives/hcat*  /etc/alternatives/hdfs*
rm -rf /etc/hadoop* /etc/zookeeper* /etc/hive* /etc/hue /etc/impala /etc/sqoop* /etc/oozie /etc/hbase* /etc/hcatalog /etc/alternatives/hive*
rm -rf /var/run/zookeeper /etc/alternatives/flume* /etc/alternatives/zookeeper* /etc/alternatives/parquet* /etc/alternatives/whirr
rm -rf /tmp/scm_prepare_node* /tmp/.scm_prepare_node.lock /etc/alternatives/bigtop* /etc/alternatives/yarn*
